doctype html
html
  head
    title Confirm Plan
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      if error
        .error #{error}
      h2 Confirm Plan
      form(action="/subscription/start" method="post")
        div
          label(for="plan") Plan
          select(name="plan" id="planSelect" required)
            each value, name in planMap
              if name !== 'free'
                option(value=name selected=(plan === name)) #{name.toTitleCase()}
        if !hidePlanPeriods
          div
            label(for="period") Period
            select(name="period" id="subscriptionSelect" required)
              each value, period in planMap.basic.period
                option(value=period selected=(period === 'monthly')) #{period.toTitleCase()}
        div(style="text-align: center; font-size: 24px;")
          label(for="price")
          span#price-display
        div(style="text-align: center;")
          label(for="benefits")
          each value, name in planMap
            if name !== 'free'
              div(id=`${name}-benefits` style="display: none;")
                ul
                  each benefit in value.benefits
                    li #{benefit}
        div
          button(type="submit") Confirm

script.
  const planSelect = document.getElementById('planSelect');
  const subscriptionSelect = document.getElementById('subscriptionSelect');
  const priceDisplay = document.getElementById('price-display');
  const benefitsContainers = {};

  // Assuming planMap is passed correctly to JavaScript
  const planMap = JSON.parse('!{JSON.stringify(planMap)}');

  Object.keys(planMap).forEach(plan => {
    if (plan !== 'free') {
      benefitsContainers[plan] = document.getElementById(`${plan}-benefits`);
    }
  });

  function updatePriceDisplay() {
    const selectedPlan = planSelect.value;
    const selectedPeriod = subscriptionSelect ? subscriptionSelect.value : 'monthly'; // Default to 'monthly' if period selection is hidden
    const pricing = planMap[selectedPlan].period[selectedPeriod];
    priceDisplay.textContent = `$${pricing} / month`;
  }

  function updateBenefitsDisplay() {
    const selectedPlan = planSelect.value;
    Object.values(benefitsContainers).forEach(container => {
      container.style.display = 'none';
    });
    if(benefitsContainers[selectedPlan]) {
      benefitsContainers[selectedPlan].style.display = '';
    }
  }

  function updateDisplay() {
    updatePriceDisplay();
    updateBenefitsDisplay();
  }

  planSelect.addEventListener('change', updateDisplay);
  if (subscriptionSelect) {
    subscriptionSelect.addEventListener('change', updateDisplay);
  }

  updateDisplay();
